h1 {
         color: rgb(255,102,178);
}
h2 {
    background-color: rgb(178,102,255);
}
body {
    background-image: url("https://www.google.com/search?q=cookie&rlz=1CALEAI_enUS741US741&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj58eSM--DTAhUJ_WMKHROyDrsQ_AUICigB&biw=1366&bih=670&safe=active&ssui=on#safe=active&tbs=sur:fc&tbm=isch&q=polka+dot+&imgrc=kxxputisclVRXM:");
}
