h1 {
         color: rgb(255,102,178);
}
h2 {
    background-color: rgb(178,102,255);
}
body {
    background-image: url("http://i295.photobucket.com/albums/mm144/zabadabadingdong00/ALlayout/stripes.gif");
}
h1 {
    text-decoration: underline;
}


h2 {
    text-shadow: 2px 2px #FF6666;
}



div, h1,h2,h3
         {
    font-family: Tahoma;
}

p.ex {
    height: 100px;
    width: 100px;
}
