h1 {
         color: rgb(255,102,178);
}
h2 {
    background-color: rgb(178,102,255);
}
body {
    background-image: url("http://i295.photobucket.com/albums/mm144/zabadabadingdong00/ALlayout/stripes.gif");
}
